//- Mathjax 3
script.
  if (!window.MathJax) {
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true,
        tags: 'ams'
      },
      chtml: {
        scale: 1.1
      },
      options: {
        renderActions: {
          /* 移除自定义的 findScript，让 MathJax 3 使用默认的文本扫描器识别 Pandoc 输出的 \( \) 和 \[ \] */
        },
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process'
      },
      startup: {
        pageReady: () => {
          return MathJax.startup.defaultPageReady().then(() => {
            console.log('MathJax initial typesetting complete');
          });
        }
      }
    }
    
    const script = document.createElement('script')
    script.src = 'https://cdn.cbd.int/mathjax@3.2.2/es5/tex-mml-chtml.js'
    script.id = 'MathJax-script'
    script.async = true
    document.head.appendChild(script)
  } else {
    if (typeof MathJax.startup !== 'undefined') {
      MathJax.startup.document.state(0)
      MathJax.texReset()
      MathJax.typesetPromise()
    }
  }