name: Deploy to GitHub Pages

on:
  push:
    branches:
      - source # 当 source 分支有推送时触发

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true # 如果有子模块（如主题）则开启

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Generate Static Files
        run: npx hexo clean && npx hexo generate

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: public # Hexo 生成的静态文件目录
          branch: main # 部署到 main 分支
          commit-message: "Auto deploy from GitHub Actions"
